    <a href="index.php?action=add_connector" class="btn btn-success">Add new connector</a><br/><br/>
    <table class="generaltable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>OpenAPI Key</th>
            <th>Server</th>
            <th>Server API Key</th>
            <th>Open API Definition URL</th>
            <th>Last Modified</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {{#connectoritems}}
            <tr>
                <!--Loopable-->
                <td>{{name}}</td>
                <td> {{description}} </td>
                <td> {{openapikey}} </td>
                <td> {{server}} </td>
                <td> {{serverapikey}} </td>
                <td> {{openapidefinitionurl}} </td>
                <td> {{lastmodified}} </td>
                <td> <a href="index.php?action=edit_connector&connectorid={{id}}">Edit</a> | <a href="">Delete</a> </td>

            </tr>
        {{/connectoritems}}
        </tbody>
    </table>
