<div class="col-md-12 form-inline felement">

    <select name="response_{{name}}" id="id_response_{{name}}" data-fieldtype="select" class="custom-select">
        <option value="STU_CODE">STU_CODE</option>
        <option value="SCJ_CODE">SCJ_CODE</option>
        <option value="SCJ_STUC">SCJ_STUC</option>
        <option value="SCJ_SPRC">SCJ_SPRC</option>
        <option value="SCJ_CRSC">SCJ_CRSC</option>
        <option value="SCJ_STAC">SCJ_STAC</option>
        <option value="SCN_STUC">SCN_STUC</option>
        <option value="SCN_AYRC">SCN_AYRC</option>
        <option value="SCN_CODE">SCN_CODE</option>
    </select>


</div>