<for
<table class="generaltable">
    <thead>
    <th>
        Items
    </th>
    <th>
        Value
    </th>
    </thead>
    <tbody>
    <tr>
        <td>Selected Connector </td>
        <td>One </td>
    </tr>
    <tr>
        <td>Selected Path Item </td>
        <td>One </td>
    </tr>
    <tr>
        <td>Selected Sub-plugin </td>
        <td>One </td>
    </tr>
    <tr>
        <td>Selected Parameters </td>
        <td>fullname :  </td>
    </tr>
    </tbody>
</table>